name: CI
on:
  push:
    branches: main
    paths-ignore:
      - "README.md"
      - "docs/**"
  pull_request:
    branches: main
    paths-ignore:
      - "README.md"
      - "docs/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: go build -v

      - name: Unit tests
        run: go test -v ./...

      - name: All tests (integration + cached unit)
        run: go test --tags=integration -v ./...
        env:
          VERBOSE_TESTS: 1
